.App-header {
  background-color: rgb(17, 16, 16);
  height: 50px;
  padding: 20px;
  text-align: center;
  color: white;
}

.booking {
  background-color: transparent;
  margin: 100px 0 0 150px;
  position: relative;
}

table{
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

tr{
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
}

td{
  text-align: center;
  padding: 5px;
  border: 1px solid;
  border-collapse: collapse;
}

th{
  text-align: center;
  padding: 5px;
  border: 1px solid;
  border-collapse: collapse;
}

.bookingform{
  background-color: black;
  width: 80%;
  height: 300px;
  color: white;
  margin: 600px 0 0 150px;
  position: absolute;
}

.entryform{
  background-color: black;
  width: 80%;
  height: 300px;
  color: white;
  margin: 600px 0 0 150px;
  position: absolute;
}
