.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 180px;
}
  
.Page-header {
    background-color: fff;
    height: 160px;
    padding: 20px;
    color: white;
    text-align: center;
}

