.gridContainer
{
  /* background-color:whitesmoke;*/
}  

.searchDivison{
  width: 70%;
}

.requestButton {
  border:none;
  background-color: transparent;
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.postsDivision{
  position: relative;
  overflow: scroll;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 700px;
  height: 50px;
  padding: 10px 20px 10px 40px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-radius: 50px 50px 50px 50px;
  color: black;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: fixed;
  top: 75px;
  left: 28%;
  width: 45%; 
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 2px;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: gainsboro;
}
        
.requestButton{
  justify-content: center;
}

.personDivison{
  justify-content: center;
}

.IconButton__highlighted {
  outline: none;
}
