.gridContainer
{
  background-color:#fff
}

.searchDivison{
    width: 100%;

}
.postsDivision
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.requestButton {
  border:none;
  background-color: transparent;
  
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.postsDivision{
    width: 700px;
    height:670px;
    overflow: scroll;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 700px;
  height: 50px;
  padding: 10px 20px 10px 40px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

        
.requestButton{
  justify-content: center;
  padding-right: 10px;
}

.personDivison{
  justify-content: center;
  padding-left: 10px;
}

/* .react-autosuggest__container {
    position: relative;
    display: inline-block;
    margin-top: -10px;
  }
  
  .react-autosuggest__input {
    width: 600px;
    height: 50px;
    padding: 10px;
    font-weight: 300;
    font-size: 13px;
    border: 1px solid rgba(0, 126, 255, 0.24);
    border-radius: 4px;
    color: #000;
    background-color: #fff;
  }
  
  .react-autosuggest__input::placeholder {
    color: #777;
    opacity: 1;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  ul.ui-autocomplete {
    list-style: none;
  } */
/*   
  .react-autosuggest__suggestions-list {
    margin: 0;
    position: absolute;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    width: 220px;
    border: 1px solid #eee;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
    width: 200px;
    white-space: nowrap;
  }
  
  
  .result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80%;
  } */
