.bg-post {
    background-color:#343a40;
    color: gainsboro;
    font-weight: bold;
    margin: 2px;
    padding: 10px;
}

.post-border {
    border: 1px solid #343a40;
    border-radius: 5px;
}

.post-container {
    position: absolute;
    width: 55%;
    left: 20%;
    margin-top: 3%;
    padding: 5px;
}

